body {
    margin: 0;
}
.nav-bar{
    height: 160px;
}
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 250px;
}
.left-side{
    display: flex;
    align-items: center;
}
.menu {
    margin-left: 20px;
    color: #ff9800;
    text-decoration: none;
    font-size: 24px;
}
.logo {
    width: 85px;
    height: 85px;
    top: 35px;
}
.right-side {
    width: 550px;
    display: flex;
    justify-content: end;
    gap: 25px;
    align-items: center;
}
.search input {
    width: 75px;
    float: left;
    padding: 10px;
    border: 1px solid #888888;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
}
.search button {
    float: left;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid #888888;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.shopping {
    font-size: 40px;
    color: #ffc107;
}
.log-in {
    color: #ffc107;
    text-decoration: none;
    font-size: 40px;
}
.font-family {
    font-family: system-ui;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7d867;
}
footer p {
    padding: 30px 0px;
    margin: 0 250px;
}
.footer-icons {
    margin-right: 250px;
}
.footer-icons a {
    margin-left: 10px;
    padding: 10px;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 2px solid black;
    color: black;
}
.location h2 {
    padding-left: 180px;
    font-size: 60px;
}
.map {
    width: -webkit-fill-available;
    height: 75vh;
    margin: 0 250px;
    border-radius: 5px;
}
.info-and-time{
    margin: 50px 250px 100px 250px;
    display: flex;
    justify-content: space-between;
}
.address-info h2, .schedule-time h2 {
    margin: 0;
    font-size: 40px;
}
.address-info p, .schedule-time p {
    font-size: 22px;
} 